html {
    --book-height:  350px;
    --book-width: 250px;
}

.grid-container {
    display: grid;
    grid: 5rem auto 5rem / 1fr 4fr;
    grid-template-areas: "header header"
        "sidebar main"
        "footer footer";
}

.grid-container > * {
    border: 1px solid black;
}

.header {
    grid-area: header;
    padding-left: 5%;
    display: grid;
    align-items: center;
}

.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar {
    grid-area: sidebar;
    padding: 5em;
}

.main {
    grid-area: main;
    display: grid;
    justify-items: center;
}

.books {
    width: 50%;
    padding: 5rem;
    display: grid;
    grid: repeat(auto-fit, minmax(var(--book-height),
        calc(var(--book-height) + 50px))) / repeat(2, var(--book-width));
    gap: 10rem;
}

.book {
    width: var(--book-width);
    display: flex;
    flex-direction: column;
}

.bookImage {
    height: var(--book-height);
    width: var(--book-width);
    background-color: lightblue;
}
